
.canvas{
    display:block;
    width: 200px;
}
#canvas{
    width:400px;
    height:200px;
}
.item-input{
    display: block;
    padding-left:10px;
    text-align: right;
}
.item-list{
    display: block;
    padding-left: 10px;
    border: 1px rgb(78, 74, 74) solid;
}
.wrp-lst{
    display: inline-block;
    margin-top: 20px;
}
th{
    border: 1px solid black;
}